<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>冒险岛商城 实用消耗商品</title>
<link rel="stylesheet" href="__CSS__/commodity.css" />
<link rel="stylesheet" href="__CSS__/login.css" />
<link rel="stylesheet" href="__CSS__/introduce.css" />
<link rel="stylesheet" href="__CSS__/shoppingcar.css" />
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--背景图-->
<div id="bgcolor"></div>

<!--头部标题-->
<div id="head_tag">
<div><a href="__MODULE__/liu/liushuo" id="head_pic"></a></div>
<a href="__MODULE__/Index/index" id="mxd_logo"><img src="__IMAGE__/logo.PNG" /></a>
</div>

<!--右侧固定标志-->
<div class="fix_logo"></div>
<div id="login_logo">
<present name='Think.cookie.user'>
<a href="__MODULE__/Myhome/index" class="right_pic"><img id="user_photo" title="个人中心" src="__IMAGE__/<{$Think.session.photo}>" /></a>
<span></span>
<a href="__MODULE__/login/quit" class="right_pic" title="退出" >退出</a>
<else />
<a href="#1" class="right_pic" id="login_button">登陆</a>
<a href="__MODULE__/Index/register" class="right_pic" target="_blank">注册</a>
</present>
</div>

<!--登陆界面-->
<div id='black_cover'></div>
<div id="login_window">
<a href="javascript:" id="close_pic"><img src="__IMAGE__/close.png" /></a>
<table height="300" id="table1">
<form id='login_form' action="__MODULE__/Pay/index" method="post">
<tr><td align="center" colspan="2"><h1 id="dl">Maple Story</h1></td></tr>
<tr><td class="prefix">用户名:</td><td><input class='text' type="text" name="user"/></td></tr>
<tr><td class="prefix">密码:</td><td><input class='text' type="password" name="password" /></td></tr>
<tr><td colspan="2"><a href="javascript:" id="submit">登陆</a></td></tr>
</form>
</table>
</div>

<!--购物车标签-->
<div class="shoppingcar"> 
<a href="javascript:" class="showcar">
<img src="__IMAGE__/cart.png" />
我的购物车
</a>
</div>
<!--购物车内容-->
<div class="allcommodity">
<notempty name='array'>
<foreach name='array' item='value'>
<div class='mycommodity'>
<p><img src="__IMAGE__/<{$value['carphoto']}>" /></p>
<p><{$value['carname']}></p><p><{$value['carprice']}></p>
<p><a href="__URL__/clear?key=<{$value[0]}>" class="clearcar">清空</a></p>
</div>
</foreach>
<p class="function"><a href='javascript:' class='jiesuan'>去结算</a></p></p>
<else />
<p>暂无商品</p>
</notempty>
</div>

<!--搜索框-->
<div id="search_div">
<a href="javascript:" id="fangdajing"><img src="__IMAGE__/magnifier27.png" /></a>
<div id="search_form">
<form action="__URL__/search" method="post" id="search">
<input type="text" name="search" />
</form>
</div>
<div id="search_button">
<button>搜索</button>
</div>
</div>

<!--商品部分-->
<div class="commodity">
<p id="com_title">实用消耗</p>
<foreach name='syxh_path' item='vo'>
<div class="com_pic">
<div class="color_show"></div>
<a href=""><img class='com_gif' src="__IMAGE__/<{$vo.path}>" /></a>
<span class="com_span1">
<a href="" class="query_name"><{$vo.name}></a>
</span>
<span class="com_span2">
<img src="__IMAGE__/dot.gif" />
<span><{$vo.price}>点</span>
</span>
<span class="com_span3">
<a href="__URL__/shoppingsyxh/carname/<{$vo.name}>" class="button_carxxx"><img src="__IMAGE__/cart.png" /></a>
<a href="javascript:" class="button_buy">购买
<input type="hidden" value="<{$vo.name}>" />
</a>
</span>
</div>
</foreach>
<p id="teshu"><{$msg}></p>
</div>

<!--商品购买/购物车-->
<div id='black_cover_2'></div>
<div id="login_window_2">
<a href="javascript:" id="close_pic_2"><img src="__IMAGE__/close.png" /></a>
<p class="pay_title">MapleStory</p>
<table id="table2">
<tr><td colspan="2"><img class='returnmsg' src="" /></td></tr>
<tr><td>商品名称：</td><td class='returnmsg' id="carname"></td></tr>
<tr><td>商品价格：</td><td class='returnmsg' id="carprice"></td></tr>
<tr><td>商品描述：</td><td>暂无</td></tr>
<tr><td><a href="javascript:" class="car_href">确认购买</a></td><td><a href="javascript:" class="car_href">加入购物车</a></td></tr>
</table>
<form action="__URL__/timo" method="post" id="timo">                              <!--任性的取名不要问我为什么-->
<input type="hidden" id="car" name="carname" value=""/>
</form>
</div>


<!--底部背景图-->
<div id="bottom_bgcolor">
<div class="bottom_bg"></div>
</div>

<!--底部介绍-->
<div class="bottom_bg_2">
</div>
<script type="text/javascript" src="__JS__/commodity.js"></script>
<script type="text/javascript">                                             //此部分JS 必须为下面两部分JS 上面
var module='__MODULE__';
var url='__URL__';
var image='__IMAGE__/';
var name="<{$Think.session.user}>";
</script>
<script type="text/javascript" src="__JS__/shoppingcar.js"></script>
<script type="text/javascript" src="__JS__/introduce.js"></script>
<script type="text/javascript" src="__JS__/login.js"></script>
</body>
</html>
